#img1{
  width: 290px;
    top: 112px;
    position: absolute;
    height: 260px;
    left: 727px;

}
#img2{
  width: 290px;
  top: 109px;
  position: absolute;
  left: 1017px;
  height: 262px;
  
}
#img3{
  width: 268px;
    top: 113px;
    position: absolute;
    right: 969px;
    height: 256px;
}
#img4{
  width: 290px;
  top: 372px;
  position: absolute;
  height: 100;
  left: 727px;
}
#img5{
  width: 290px;
  top: 371px;
  position: absolute;
  left: 1017px;
  height: 297px;
}
#img6{
  width: 267px;
  top: 371px;
  position: absolute;
  left: 1307px;
  height: 297px;
}
body{
    background-color:bisque;
}
#menu{
  background-color: aquamarine;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: bisque;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
#lunch{
  color:blue;
  font-size:100px;
