#img1{
  width: 290px;
    top: 112px;
    position: absolute;
    height: 260px;
    left: 727px;

}
#img2{
  width:390px;
  
  position:absolute;
  left:40%;
  
}
#img3{
  width: 290px;
    top: 112px;
    position: absolute;
    right: 850px;
    height:256px;
}
#img4{
  width: 290px;
  top: 372px;
  position: absolute;
  height: 100;
  left: 727px;
}
#img5{
  width: 290px;
    top: 400px;
    position: absolute;
    left: 1000px;
    height:10;
}
#img6{
  width: 200px;
    top: 400px;
    position: absolute;
    left: 1300px;
}
body{
    background-color:bisque;
}


